<ng-container *ngIf="course">
  <div class="course-card" [ngClass]="cardClasses()">
    <div class="course-title" [ngStyle]="cardStyles()">
      {{ index || "" }} {{ course.description }}
    </div>

    @if (course.iconUrl) {
      <ng-content select="course-image"></ng-content>
    } @else {
      <ng-container *ngTemplateOutlet="noImageTpl; context: {description: course.description}"></ng-container>
    }

    <!-- <ng-template #noImage>
      <ng-container *ngTemplateOutlet="noImageTpl"></ng-container>
    </ng-template> -->

    <div class="course-category">
      @switch (course.category) {
      <!--  -->
      @case ("BEGINNER") {
      <div class="category">Beginner</div>
      }
      <!--  -->
      @case ("INTERMEDIATE") {
      <div class="category">Intermediate</div>
      }
      <!--  -->
      @case ("ADVANCED") {
      <div class="category">Advanced</div>
      }
      <!--  -->
      @default {
      <div class="category">Unknown</div>
      } }
      <!--  -->
    </div>

    <button (click)="onCourseViewed()">View Course</button>
  </div>
</ng-container>
