<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses" *ngIf="courses[0] as course">

  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image yet.</p>
    <img src="../assets/empty-image.png" />
  </ng-template>

  <!-- <ng-container
    *ngTemplateOutlet="blankImage; context: { description: course.description }">
  </ng-container> -->

  <course-card (CourseSelected)="OnCourseSelected($event)" [course]="course" [noImageTpl] =blankImage >
    <div class="course-description">
      {{ course.longDescription }}
    </div>
    <course-image [imageUrl]="course.iconUrl"></course-image>
  </course-card>
</div>
